<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sessions">

    <!-- Get permission for location tracking and foreground service -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <service
            android:name=".TrackingService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".SelSessionActivity" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".TrackSessionActivity" />
        <activity android:name=".EndSessionActivity" />

        <provider
            android:name=".SessionsProvider"
            android:authorities="com.example.sessions.SessionsProvider"
            android:exported="true"
            android:multiprocess="true" />

        <receiver android:name=".GpsLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDfsXNvy_3YgEAhtql1peI3J90W_zw1qfg"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>